CompileFlags:
    Compiler: x86_64-linux-gnu-gcc
---
If:
    PathMatch: src/boot/.*
CompileFlags:
    Add:
        - "-DELF_SIZE=1"
        - '-DELF_PATH=L"kernel.bin"'
        - "-I/usr/include/efi"
        - "-I/usr/include/efi/x86_64"
